.worksMain {
  background: #000622;
  height: 100%;
}
.workshead
{
  padding-top: 85px;
}
.workshead h1 {
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lifeInner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lifeInner {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 940px) {
  .lifeInner img {
    margin-left: 93px;
    width: 80%;
}
  .workshead h1 
  {
    font-size: 35px;
  }
}

@media screen and (max-width:570px)
{
  .lifeInner img {
    margin-left: 64px;
}
}


@media screen and (max-width:640px)
{
      .workshead h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:440px)
{
  .lifeInner img {
    margin-left: 50px;
}
      .workshead h1 {
        font-size: 20px;
    }
    .workshead
{
  padding-top: 65px;
}
}

@media screen and (max-width:330px)
{
  .lifeInner img {
    margin-left: 32px;
}
   
    .workshead h1 {
        font-size: 15px;
    }
    .workshead
    {
      padding-top: 45px;
    }
}

@media screen and (max-width:240px)
{
  .workshead
    {
      padding-top: 35px;
    }
   
    .workshead h1 {
        font-size: 13px;
    } 
    .lifeInner img {
      margin-left: 23px;
  }
}