.worksMain {
  background: #000622;
  height: 100%;
}
.workshead h1 {
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lifeInner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lifeInner {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 940px) {
  .lifeInner {
    margin-left: 100px;
    width: 80%;
  }
  .workshead h1 
  {
    font-size: 35px;
  }
}

@media screen and (max-width:640px)
{
    .lifeInner {
        margin-left: 65px;
      }
      .workshead h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:430px)
{
    .lifeInner {
        margin-left: 45px;
      }
      .workshead h1 {
        font-size: 20px;
    }
}

@media screen and (max-width:300px)
{
    .lifeInner {
        margin-left: 34px;
    }
    .workshead h1 {
        font-size: 15px;
    }
    
}

@media screen and (max-width:230px)
{
    .lifeInner {
        margin-left: 22px;
    }
    .workshead h1 {
        font-size: 13px;
    } 
}