* {
  margin: 0;
  padding: 0;
}

// navbar.scss
.Main-Navbar {
  background: linear-gradient(
    90deg,
    #3f1652 0%,
    #000622 25%,
    #000622 50%,
    #000622 100%
  );
  position: fixed;
  width: 100%;
  z-index: 99999;
}
.Navbar-logo
{
  // border: 2px solid red;
  padding-left: 120px;
}
.Navbar-logo img {
  width: 150px;
  padding: 15px;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.Nav-links
{
  padding-right: 90px;
}

.nav-inner-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-inner-links li {
  font-size: 0.9rem;
  margin-right: 50px;
}

.nav-inner-links li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.btn {
  width: 150px;
  height: 40px;
  border-radius: 22px;
  margin-right: 25px;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  font-size: 0.9rem;
  color: black;
  font-weight: 600;
}

.btn:hover
{
  background-color: rgb(223, 227, 230);
}


.toggle-icons {
  color: white;
  display: none;
  z-index: 1;
}

.Mobile-sideBar {
  position: fixed;
  top: 0;
  right: -300px; /* Hide the side navbar by default */
  width: 300px;
  height: 100%;
  background: linear-gradient(
    90deg,
    #3f1652 0%,
    #210e43 25%,
    #100b3b 50%,
    #010731 100%
  );
  transition: right 0.3s ease; /* Add transition effect */
}

.Mobile-sideBar.open {
  right: 0; /* Show the side navbar when open */
}
.Mobile-sideBar.open .toggle-icons {
  display: block;
}

.Mobile-sideBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Mobile-sideBar ul li {
  list-style: none;
}

.Mobile-sideBar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

// setting sideNav styling for default as well

.Mobile-sideBar.open {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: linear-gradient(
    90deg,
    #3f1652 0%,
    #210e43 25%,
    #100b3b 50%,
    #010731 100%
  );
  transition: right 0.3s ease;
}
.Mobile-sideBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}
.Mobile-sideBar ul li {
  list-style: none;
  margin: 15px;
}
.Mobile-sideBar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-family: "Roboto Slab", serif;
}

.close-icon {
  margin-bottom: 40px;
  border: 2px solid white;
  margin-left: 50px;
}

.sideNav-btn {
  width: 220px;
  height: 42px;
  border-radius: 15px;
  margin-right: 7px;
}

.sideNav-btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

@media screen and (max-width: 790px) {
  .Nav-links {
    display: none;
  }

  .toggle-icons {
    display: block;
    position: relative;
    margin-right: 20px;
  }

  .Mobile-sideBar.open {
    right: 0;
  }

  .Mobile-sideBar.open .toggle-icons {
    display: block;
    color: white;
  }
}


// Handling Navbar Padding 
@media screen and (max-width:1170px)
{
  .Navbar-logo {
    padding-left: 90px;
}

.Nav-links {
  padding-right: 55px;
}

}



@media screen and (max-width:1040px)
{
  .Navbar-logo {
    padding-left: 70px;
}

.Nav-links {
  padding-right: 11px;
}

}



@media screen and (max-width:940px)
{
  .Navbar-logo {
    padding-left: 50px;
}

.Nav-links {
  padding-right: 7px;
}
.nav-inner-links li {
  font-size: 0.8rem;
  margin-right: 40px;
}
}


// handling logo for small screens 

@media screen and (max-width:790px)
{
  .Navbar-logo {
    padding-left: 12px;
}
}